.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.preview {
	position: relative;
	height: 6.25rem;
	width: 6.25rem;
	border-radius: 50%;

	background-color: var(--color-lightgray);

	display: flex;
	justify-content: center;
	align-items: center;
}

.preview img {
	width: 100%;
	height: 100%;

	border-radius: 50%;
}

.icon {
	height: 2.25rem;
	width: 2.25rem;

	color: var(--color-gray);
}

.filename {
	color: var(--color-green);
}

.error {
	color: var(--color-red);
}

.button {
	width: 100%;
}

.input {
	display: none;
}

.iconButton {
	position: absolute;
	bottom: 0;
	right: 0;
}
