@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
	--title-1: 2rem;
	--title-2: 1.5rem;
	--title-3: 1.25rem;
	--text-sm: 0.875rem;
}

body {
	font-family: 'Poppins', sans-serif;
}
