.overlay {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;

	background-color: var(--color-overlay);

	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	position: relative;
	width: 20rem;
	background-color: var(--color-white);
	border-radius: var(--radius-md);

	padding: 1.5rem;
}

.close {
	position: absolute;
	right: -1.25rem;
	top: -1.25rem;
}

.bodyOverflow {
	overflow-y: hidden;
}
