.wrapper {
	display: flex;
	align-items: center;

	box-shadow: var(--shadow-sm);
	border-radius: var(--radius-md);
	padding: 0.75rem 1.5rem;
	margin-bottom: 1rem;
}

.status,
.role,
.action {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	width: 45%;
}

.status,
.role {
	width: 20%;
}

.action {
	width: 15%;
}
