.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border: 1px solid gray;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.name {
	width: 40%;
	font-weight: bold;
}

.status,
.role,
.action {
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
}
