.form {
	margin: 2rem 0;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 1rem;
}

.active {
	display: flex;
	align-items: center;
}

.checkbox {
	margin-right: 0.75rem;
}
