.form {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem;
}

.active {
	display: flex;
	align-items: center;
}

.active input[type='checkbox'] {
	height: 1rem;
	width: 1rem;

	margin-right: 0.5rem;
}
